html{
box-sizing: border-box;
display: flex;
overflow: hidden;
font-family: 'Nanum Gothic', monospace;
}
#header{
  position: relative!important;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', monospace;
}
body{
  width: 100vw;
}
#photobackground{
  display: none;
}
#divTodo{
  position: relative;
}



@media screen and (min-width: 768px;){
#header{
  position: fixed;
}


#photobackground{
  width: 100vw;
  height: 250px;
}
#photobackground img{
  width: 100vw;
  height: 40vh;
  align-self:center;
  object-fit:cover;
}

}
