.fotoavion {
  width: 100%;
}

.frase {
  font font-family: 'Raleway', monospace;
  font-size: 60px;
  color: White;
  text-align: center;
  z-index: 1500;
  position: relative;
  bottom: 250px;
}

.hablemos {
  text-align: center;
  position: relative;
  bottom: 100px;
}

hr {
  border: solid 2px;
  display: block;
  width: 70px;
  margin: 0 auto;
  border-color: #D4AF37;
  position: relative;
  bottom: 100px;
}

h3 {
  font-size: 24px;
  margin-left: 50px;
}

h4 {
  font-size: 16px;
  margin-left: 50px;
}

form {
display: block;
}
