#falsoheader {
  position: relative;
  width: 50%;
  height: 500px;
  background-color: #82CAFC;
  margin-left: 30px;
  box-shadow: 1px 1px 10px #666;
}

#foto {
  border-radius: 200px 200px 200px 200px;
  width: 250px;
  position: relative;
  left: 340px;
  top: 90px;
}

#nombre {
 font-family: 'Raleway', sans-serif;
 position: relative;
 top: 100px;
 left: 387px;
 color: white;
 z-index: 5;
}

#nacionalidad {
 font-family: 'Raleway', sans-serif;
 font-size: 18px;
 position: relative;
 top: 90px;
 left: 420px;
 color: white;
 z-index: 6;
}

#menu {
  float: left;
  margin-left: 20px;
  text-decoration: none;
  display: block;
  position: relative;
  top: 130px;
  right: 40px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 22px;
}

#informacion {
  position: relative;
  top: 25px;
  text-decoration: none;
  line-height: 50px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #82CAFC;
  margin: 0 auto;
}

#datos {
 position: relative;
 bottom: 193px;
 left: 170px;
 text-decoration: none;
 line-height: 50px;
 display: block;
 font-family: 'Raleway', sans-serif;
 font-size: 20px;
 color: black;
 margin: 0 auto;
}

.informacion {
  position: relative;
  width: 50%;
  height: 250px;
  background-color: white;
  box-shadow: 1px 1px 10px #666;
  margin-left: 30px;
  margin-top: 20px;
}

h3 {
 font-family: 'Raleway', sans-serif;
 font-size: 22px;
 position: relative;
 top: 165px;
 left: 400px;
 color: white;
 z-index: 6;
}

.fusion {
  position: relative;
  width: 865px;
  height: 200px;
  float: right;
  background-color: #82CAFC;
  bottom: 774px;
  margin: 0 auto;
  margin-right: 30px;
  box-shadow: 1px 1px 10px #666;
}

.londres {
  position: relative;
  left: 1010px;
  bottom: 550px;
  width: 860px;
  height: 550px;
  background-color: wh;
  box-shadow: 1px 1px 10px #666;
}

#viaje1 {
  position: relative;
  width: 860px;
  z-index: 5;
}

h4 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  position: relative;
  bottom: 90px;
  z-index: 8;
  margin-left: 15px;
}

h5 {
 color: white;
 font-family: 'Raleway', sans-serif;
 font-size: 25px;
 position: relative;
 bottom: 104px;
 z-index: 8;
 margin-left: 18px;
}

h6 {
 color: white;
 font-family: 'Raleway', sans-serif;
 font-size: 26px;
 position: relative;
 bottom: 145px;
 left: 580px;
 z-index: 8;
 margin-left: 18px;
}
