#pasaporte {
  width: 100%;
}

#logo {
  width: 15%;
  z-index: 2;
  position: relative;
  bottom: 350px;
  left: 800px;
}

h1, h2, p {
text-align: center;
}

#separadorprincipal {
  border: solid 2px;
  display: block;
  width: 160px;
  margin: 0 auto;
  border-color: #D4AF37;
  position: relative;
  bottom: 180px;
}

h1 {
  position: relative;
  bottom: 180px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 40px;
}

hr {
 border: solid 2px;
 display: block;
 width: 100%;
 margin: 0 auto;
 border-color: #D4AF37;
 position: relative;
 bottom: 15px;
}
